/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 16/03/2016, 10:31:44 AM
    Author     : PabloAnibal
*/

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
	font-family: helvetica;
}

body{
	overflow-x: hidden;
}

#mainNav{
	height: 78px;
	background-color: #0b5ba1;
}

#mainSlider{
	height: 370px;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
}

.separador{
	background-color: #0b5ba1;
	padding: 5px;
	color: white;
	font-size: 115%;
	width: 365px;
}

#moviesContainer{
	padding: 15px;
	background-color: white;
}
.movies{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
	padding: 15px 0px;
}

.movie{
	width: 139px;
	height: 203px;
	background-color: rgba(0,0,0,0.8);
	margin: 15px 15px 0px 0px;
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-end;
}

.movie .title{
	position: absolute;
	color: white;

}
